* {margin: 0; padding: 0;}
*::before, *::after{box-sizing: border-box;}
ul, ol {list-style: none}
h1,h2,h3,h4,h5,h6 {font-weight: normal}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}


html {
  font-size: 10vw;;
}
body {
  font-size: 3.7vw;
}

section>h2:first-child{
  font-size: 4.53vw;
  border-left: 2px solid #D33A31;
  margin: 4vw 0;
  font-weight: normal;
  padding-left:2.6vw;
  line-height: 1;
}
.topbar{
  background: #D43C33;
  padding: 4.5vw 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: 38vw;
  }
  .downloadApp {
    line-height: 7.5vw;
    border: 1px solid #ffffff;
    border-radius: 4.25vw;
    display: block;
    color: #ffffff;
    text-decoration: none;;
    padding: 0 .5em;
  }
}
.tabContent {
  > li {
    display: none;
    &.active {
      display: block;
    }
  }

  > .hotMusic {
    > .pannel {
      padding: 5.3vw 4.5vw;
      background: url('../img/hot_music_bg.jpg') no-repeat;
      background-size: cover;
      .hotIcon {
        width: 37.8vw;
        height: 17.9vw;
        background: url('../img/hot-icon.png');
        background-position: -6.4vw -8vw;
        background-size: 44.2vw 25.9vw;
      }
      .hotTime{
        font-size: 3.2vw;
        margin-top: 2.7vw;
        color: hsla(0, 0%, 100%, .8);
        transform: scale(.9);
        transform-origin: left top;
      }
    }
    > .musicList {
      //.loadingIcon {
      //  text-align: center;
      //}
      a {
        text-decoration: none;
        color: inherit;
      }
      > ol {
        margin:0 calc(2.6vw + 2px);

        > li {
          .listNo{
            color: inherit;
            &.hot {
              color: #df3436;
            }
          }
          h3 {
            font-size: 4.53vw;
          }
          p {
            font-size: 3.2vw;
            color: #888;
            display: flex;
            align-items: center;
          }
          .play-circle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2vw 0;
            //padding-bottom: 2vw;
            border-bottom: 1px solid #E2E2E2;
            .musicBrief {
              flex: 1;
              margin-left: calc(2.6vw + 2px);
            }
            > svg {
              width: 5.9vw;
              height: 5.9vw;
              fill: #aaa;
            }
            svg.sq {
              width: 4.2vw;
              height: 4.2vw;
              vertical-align: middle;
              margin-right: 0.5em;
              fill: #fe672e;
            }
          }
        }
      }
    }
  }

  > .search {
    width: 100%;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    > .inputWrap {
      padding: 4vw 2.7vw;
      border-bottom: 1px solid #ccc;
      position: relative;
      > svg.search{
        position: absolute;
        left: 4.4vw;
        top: 6.1vw;
        width: 4vw;
        height: 4vw;
        fill: #ccc;
        margin-right: 1vw;
      }
      > svg.close {
        display: none;
        position: absolute;
        right: 4.4vw;
        top: 6.1vw;
        width: 4vw;
        height: 4vw;
        fill: #ccc;
        margin-right: 1vw;
        &.active {
          display:block;
        }

      }
      input {
        width: calc(100% - 8vw);
        height: 8vw;
        border-radius: 8vw;
        font-size: 3.7vw;
        line-height: 1.8;
        background: #ebecec;
        color: #333;
        padding-left: 8vw;
        border: none;
      }
    }
    input-placeholder: #888;

    .hotSearch {
      display: none;
      &.active {
        display: block;
      }
      > h3 {
        font-size: 3.2vw;
        line-height: 3.2vw;
        color: #666;
        margin-bottom: 4vw;
      }
      > .hotResult {
        > span {
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 40%;
          padding: 0 3.7vw;
          margin-right: 2.1vw;
          margin-bottom: 2vw;
          line-height: 8.5vw;
          font-size: 3.7vw;
        }
      }
    }
    > .searchResult {
      display: none;
      > .inputWord {
        border-bottom: 1px solid #ccc;
        padding: 4vw 0;
        margin-left: 2.7vw;
        font-size: 4vw;
        color: #507daf;
      }
      > .results {
        > li {
          padding: 4vw 0;
          margin-left: 2.7vw;
          border-bottom: 1px solid #ccc;
          color: #333;
          > svg {
            width: 4vw;
            height: 4vw;
            fill: #ccc;
            margin-right: 1vw;
          }
        }
      }
      &.active {
        display: block;
      }
    }
  }
}

.siteNav {
  > ol {
    display: flex;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 1.1em;
    > li {
      flex: 1;
      > span {
        height: 10vw;
        line-height: 11vw;
        display: inline-block;
        position: relative;
      }
      &.active {
        color: #D33A31;
        > span::before{
          content: '';
          position: absolute;
          bottom: 0;
          left: -2vw;
          right: -2vw;
          border-top: 2px solid #D33A31;
        }
      }
    }
  }
}

.playlists {
  margin-top: 5.5vw;
  > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > li {
      width: calc(33.333333% - 1vw);
      > a {
        width: 100%;
        display: inline-block;
      }
       img {
        width: 100%;
      }
       p {
        display: -webkit-box;
        height: 9vw;
        line-height: 5vw;
        padding: 1vw 1vw;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}



.latestMusic {
  .loadingIcon {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  > ol {
    margin-left: calc(2.6vw + 2px);
    > li {
      position: relative;
      border-bottom: 1px solid #E2E2E2;
      padding: 1vw 0;

      h3 {
        font-size: 4.53vw;
      }
      p {
        font-size: 3.2vw;
        color: #888;
        display: flex;
        align-items: center;
      }
      .play-circle {
        > svg {
          width: 5.9vw;
          height: 5.9vw;
          position: absolute;
          right: 4vw;
          top: 50%;
          transform: translateY(-50%);
          fill: #aaa;
        }
      }
      svg.sq {
        width: 4.2vw;
        height: 4.2vw;
        vertical-align: middle;
        margin-right: 0.5em;
        fill: #fe672e;
      }
    }
  }
}

section.art{
  padding-top: 17.6vw;
  background: url("http://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922") no-repeat center 0;
  padding-bottom: 6vw;
  .logo {
    text-align: center;
    margin-bottom: 3.5vw;
    .logosvg {
      width: 61.7vw;
    }
  }
  .openApp {
    display: block;
    max-width: 81.3vw;
    padding: 1vw 0;
    margin: 0 auto;
    text-align: center;
    color: #D43C33;
    border: 1px solid;
    font-size: 4.3vw;
    text-decoration: none;
    line-height: 8.6vw;
    border-radius: 5.3vw;
    margin-bottom: 2vw;
  }
  .copyright {
    font-size: 3.2vw;
    transform: scale(0.75);
    text-align: center;
  }
}
